<form id="add-post" class="editpost">
	<h2>Add a New Post</h2>
	<div>
		<label for="post-title">Title</label>
		<input type="text" id="post-title"></input>
	</div>
	<textarea id="post-body"></textarea>
	<div>
		<button type="submit">Save Changes</button>
	</div>
</form>
<script src="/javascript/addpost.js"></script>